/***
 * Pagina feita para melhoria do sistema Gercom
 * do grupo Jacauna, Está pagina está livre para
 * bom uso e melhoria do sistema manter este comentário.
 *
 * @author Akarlos Vasconcelos
 * @version 1.0
 * @copyright Ruah Industria
 * @access private
 * @package pedido_de_venda
 * @example estilomodal.css
 */
/**
 * 	height: 570px;
 * 	background: #FFF;
 */
.window {
	display: none;
	width: 830px;
	height: 570px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9900;
	padding: 4px;
	border-radius: 10px;
}

#mascara {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
}

.fechar {
	display: block;
	text-align: right;
}

/***
 * Parte do formulario
 */
.estButton {
	width: auto;
	padding: 4px;
	height: auto;
	display: table;
	border: 1px solid #FFF;
}
.estButton:active {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #000 #999 #999 #000;
	background-color: #030;
}

.estCampoTexto {
	width: auto;
	padding: 4px;
	height: auto;
	display: table;
	border: 1px solid #FFF;
}
.estCampoTexto:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #000 #999 #999 #000;
}
